.botDefinition {
    background-color: beige;
    width: 200px;
}

.pageWrapper {
    width: 100%;
    background-color: gold;
    display: flex;
    justify-content: center;
    padding: 2%;
}

* {
    margin: 0;
}

li {
    list-style: none;
}

.navbar {
    width: 100%;
    height: 150px;
    background: aqua;
    display: flex;
    flex-direction: row;
}

.icon {
    width: 150px;
    height: 150px;
    background-color: blue;
}
