.botDefinition {
    background-color: beige;
    width: 65%;
}

.botDefinition :first-child {
    margin: 20px; 
}

.botDefinition p {
    margin: 20px;
}

.pageWrapper {
    width: 100%;
    background-color: gold;
    display: flex;
    justify-content: center;
    padding: 2%;
}

* {
    margin: 0;
}

li {
    list-style: none;
}

.navbar {
    height: 150px;
    background: aqua;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin-right: 70%;
}

nav ul li {
    padding: 15%;
    background-color: blueviolet;    
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
}

.pageWrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidewrapper {
    width: 40%;
}

.sidebar {
    display: flex;
    margin: 3%;
    flex-direction: column;
    width: 50%;
    margin-left: 15%;
   
}
.graph{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 15%;
}
.botDefinition{
    margin-bottom: 5%;
    margin-left: 15%;
    font-size: large;
    width: 80%;
}
.graph p{
     font-size: large;
     margin-right: 5%;
}
.graph img{
width: 60%;

}

