.botDefinition {
    background-color: beige;
    width: 65%;
}

.botDefinition :first-child {
    margin: 20px; 
}

.botDefinition p {
    margin: 20px;
}

.pageWrapper {
    width: 100%;
    background-color: gold;
    display: flex;
    justify-content: center;
    padding: 2%;
}

* {
    margin: 0;
}

li {
    list-style: none;
}

.navbar {
    height: 150px;
    background: aqua;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin-right: 70%;
}

nav ul li {
    padding: 15%;
    background-color: blueviolet;    
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    width:100%;
}

* {
    box-sizing:border-box;
}

.pageWrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidewrapper {
    width: 40%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.sidebar {
    display: flex;
    /* margin: 3%; */
    flex-direction: column;
    width: 75%;
    /* margin-left: 15%; */
    background-color:red;
    justify-content: center;
    align-items: center;
}
.graph{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 15%;
}
.botDefinition{
    margin-bottom: 5%;
    margin-left: 15%;
    font-size: large;
    width: 80%;
}
.graph p{
     font-size: large;
     margin-right: 5%;
}
.graph img{
width: 60%;

}

.threat {
    margin-top:5%;
    margin-bottom: 5%;
    margin-left: 15%;
    font-size: large;
    width: 80%;
}
.bottom-sidebar {
    margin-top:30px;
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color:blue;
}

.sidebar img {
    width:90%;
    height:auto;
}

.button-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.button-one a {
    background-color: red;
    padding:10px;
    text-decoration: none;
    font-size: 2rem;
}

h2 {
    margin-bottom:20px;
}